.header {
  width: 970px;
  margin: 20px auto;
  text-align: center;
}
.b-timetable {
  position: relative;
  width: 970px;
  height: 552px;
  margin: 30px auto;
  background: #aaa;
}
.b-timetable_weeks {
  text-align: center;
  background: #ddd;
}
.b-timetable_table {
  width: 970px;
  height: 500px;
  background: #eee;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
td {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 120px;
}
